

/*Slider*/

.tech-card{
    background-image: linear-gradient(to bottom,rgb(255,255,255,.05),rgb(255,255,255,.03));
    padding-block: 2rem;
    border-bottom-width:1px ;
    border-top-width:1px ;
    border-color: #ffffff26;
    animation: 3s slide infinite linear;
}

    
    @keyframes slide {

       from{
            transform: translateX(0);
       } 
       to{
            transform: translateX(-100%);
       }
    };
    